@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.body {
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
  max-width: none;
}

:root {
    --color-main: #f5cb5c;
    --color-white: #E8EDDF;
    --color-gray: #CFDBD5;
    --color-black : #242423;    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li{
    list-style-type: none;
}
a {
    text-decoration: none;
}